.panel {
  border: 3px solid #801336;
  background: #2d132cee;
  margin: 5%;
  padding: 1%;
  display: flex;
  height: auto;
}
@media (max-width:500px) {
  .panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .panel .imgTitle {
    font-size: 3.4rem;
    font-family: 'Inria Serif', serif;
    color: white;
    text-align: center;
    padding-top: 3%;
    text-shadow: 1px 1px 3px white;
  }
}
@media (max-width:500px) and (max-width:500px) {
  .panel .imgTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .panel .imgTitle .leftSide {
    display: flex;
    justify-content: left;
    flex-direction: column;
  }
  .panel .imgTitle .leftSide .rightSide {
    display: flex;
    justify-content: right;
    flex-direction: column;
    font-size: 2rem;
    padding: 2%;
    align-content: center;
    color: #e2e0e0;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 14vh;
  background-color: rgba(45, 19, 44, 0.7);
  z-index: 100;
}
@media (max-width:500px) {
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navigation nav {
    display: flex;
    width: 65%;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Inria Serif', serif;
  }
  .navigation nav .anchor {
    height: 1rem;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
a {
  box-shadow: 0 5px 0 #c72c41;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  text-shadow: 2px 2px 6px #c72c41;
}
a:hover {
  color: #c72c41;
  cursor: pointer;
}
a:hover:active {
  box-shadow: none;
  top: 5px;
}
.pageTitle {
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: #ee4540;
  font-size: 4rem;
  width: 35%;
  border-radius: 25px;
  padding: 20px;
  text-shadow: 2px 2px 6px #c72c41;
  padding-top: 2.2%;
}
@media (max-width:500px) {
  .pageTitle {
    text-align: center;
  }
}
.footer-distributed {
  background: #807f7f;
  width: 100%;
  text-align: left;
  padding: 55px 50px;
  /* Footer links */
  /* Footer Right */
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}
.footer-distributed .footer-left {
  width: 40%;
}
.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Roboto';
  margin: 0;
}
.footer-distributed h3 span {
  color: #c72c41;
}
.footer-distributed .footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
.footer-distributed .footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}
.footer-distributed .footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-distributed .footer-center {
  width: 35%;
}
.footer-distributed .footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-distributed .footer-distributed .footer-center i .fa-envelope {
  font-size: 17px;
  line-height: 38px;
}
.footer-distributed .footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}
.footer-distributed .footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer-distributed .footer-right {
  margin-left: 5%;
  width: 20%;
}
.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-distributed .footer-icons {
  margin-top: 25px;
}
.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #d1e0eb;
  border-radius: 2px;
  font-size: 20px;
  color: #2c2b2b;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
body {
  background-image: url("img/image.png");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Inria Serif', serif;
}
body .home {
  color: white;
  padding-top: 10%;
}
@media (max-width:500px) {
  body .home {
    padding: 10%;
    margin-top: 20%;
  }
}
@media (max-width:800px) {
  body .home {
    margin-top: 10%;
  }
}
body .home a {
  text-decoration: none;
}
body .home h1 {
  font-size: 68px;
  padding-bottom: 5%;
  padding: 1%;
  margin-bottom: 5%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border: #801336 2px solid;
}
@media (max-width:500px) {
  body .home h1 {
    padding: 3%;
  }
}
body .home h2 {
  font-family: 'Inria Serif', serif;
}
body .home .aboutus {
  color: #ee4540;
  font-size: 24px;
}
body .home .aboutus:hover {
  color: #c72c41;
}
body .home button {
  padding: 1%;
  margin: 2%;
  background: none;
  border-radius: 10%;
  background-color: #ee4540;
}
body .home button:hover {
  background-color: #c72c41;
}
body .home button a {
  font-size: 20px;
  color: white;
}
.boxPic1 {
  content: url("img/yeyo.jpeg");
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: auto;
}
.imgTitle {
  font-size: 3.4rem;
  font-family: 'Inria Serif', serif;
  color: white;
  text-align: center;
}
.leftSide {
  display: flex;
  justify-content: left;
  flex-direction: column;
  max-width: 20%;
}
.rightSide {
  display: flex;
  justify-content: right;
  flex-direction: column;
  font-size: 2rem;
  padding: 2%;
  align-content: center;
  color: #e2e0e0;
}
.boxPic2 {
  content: url("img/downtown.jpeg");
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: auto;
}
.boxPic3 {
  content: url("img/francos.jpeg");
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: auto;
}
.boxPic4 {
  content: url("img/pho.jpeg");
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: auto;
}
.boxPic5 {
  content: url("img/cake.jpeg");
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: auto;
}
.boxPic6 {
  content: url("img/Jvani.png");
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: auto;
}
.boxPic7 {
  content: url("img/Santa.jpeg");
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: auto;
}
.boxPic8 {
  content: url("img/Mishiguene.jpg");
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: auto;
}
body {
  height: 100%;
  margin: 0%;
}
.navigation {
  display: flex;
  background-color: rgba(45, 19, 44, 0.7);
  height: 14vh;
}
nav {
  display: flex;
  width: 65%;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Inria Serif', serif;
  color: #C72C41;
}
.anchor {
  height: 1rem;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
a {
  box-shadow: 0 5px 0 #c72c41;
  color: #ee4540;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  background-color: #ce0606;
  cursor: pointer;
}
a:active {
  box-shadow: none;
  top: 5px;
}
.pageTitle {
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: #ee4540;
  font-size: 2.5rem;
  width: 35%;
  padding-top: 2.8%;
}
.aboutSection {
  margin: auto;
  display: flex;
  padding-top: 10%;
  justify-content: center;
  align-content: center;
  padding-bottom: 5%;
}
@media (max-width:500px) {
  .aboutSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.aboutDiv {
  justify-content: flex-start;
  display: flex;
  padding-right: 10%;
}
.aboutP {
  display: flex;
  font-family: 'Inria Serif', serif;
  font-size: 2.4rem;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-shadow: 12px 12px 60px white;
  padding-left: 5%;
  text-decoration-line: underline;
}
@media (max-width:500px) {
  .aboutP {
    padding-top: 20%;
    padding-bottom: 10%;
    padding-left: 10%;
  }
}
.aboutPic {
  content: url("img/francos.jpeg");
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  padding-right: 5%;
}
@media (max-width:500px) {
  .aboutPic {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    padding-left: 5%;
  }
}
